__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env
.env.local

# IDE settings
.vscode/
.idea/ 

# Project files
TODO.md
