[flake8]
max-line-length = 79
extend-ignore = E203
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    migrations,
    .venv,
    venv,
    **/site-packages/**
# Compatibility with black
max-complexity = 10 